@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-bubble {
  animation: bubbleAnimation 3s infinite ease-in-out;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}


@keyframes glowAnimation {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgb(80, 15, 179); /* Red */
    }
    20% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgb(80, 15, 179); 
    }
    40% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgb(80, 15, 179);  /* Blue */
    }
    60% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgb(80, 15, 179);  /* Yellow */
    }
    80% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgb(80, 15, 179);  /* Purple */
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0), 0 0 20px rgb(80, 15, 179);  /* Cyan */
    }
  }

  .glow-effect {
    animation: glowAnimation 3s infinite alternate;
  }


  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8e2ac7; /* Tomato color for thumb */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }

  .swiper-pagination {
    position: relative !important;
    margin-top: 10px;
  }
  .swiper-pagination-bullet {
    background-color: #7c3aed !important; /* Violet Color */
    width: 10px;
    height: 10px;
  }